@import url(https://fonts.googleapis.com/css?family=Ubuntu);

* { 
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

html, body {
	min-height: 100%;
	background: #9b8df1;
	color: #000;
}

h1 {
	font-family:ubuntu;
	font-size:4rem;
	text-align:center;
}

h2 {
	font-family:ubuntu;
	font-size:2.5rem;
	margin:0;
}

h3 {
	font-family:ubuntu;
	margin: 0;
	font-size:2.0rem;
}

#pokemon-submit-btn {
	align-items: center;
  background-color: #3c42ad;
  border: none;
  cursor: pointer;
	color:white;
}

#pokemon-text-input {
	background-color: white;
  background-image: url(https://www.clipartmax.com/png/middle/147-1475559_pokeball-clipart-svg-pokeball-icon.png);
	background-size: 3rem;
  background-repeat: no-repeat;
  padding-left: 40px;
}

#submit-poke-form {
	text-align:center;
}

.cardDiv {
	display:inline-flex;
	flex-direction:column;
	justify-content: flex-start;
	align-items: center;
	width: 20rem;
	height: 40rem;
	margin:1rem;
	color: black;
  background: #f3f3f3;
  padding: 2rem;
  border: 1px solid lightgray;
  box-shadow: 1px 1px 5px rgba(22, 22, 22, 0.915);
}

.stats {
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:flex-end;
	font-size:1.5rem;
	font-family:ubuntu;
	/* background-color:blue; */
}

ul {
	padding:0;
}

.sprites-div {
	display:flex;
	flex-direction:row;
	width:100%;
	/* background-color:pink; */
}

.pokemon-img{
	/* background-color:green; */
	margin-left:-10px;
	width:75%;
}